/* Start page */
* {
    box-sizing: border-box;
}
body, html{
	height:100%;
	margin: 0px;
}
body{
    margin: 0;
	padding: 0;
	width:100%;

}
.intro{
   background: url("wcd.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat; 
   padding:0px;
   width: 100%;
   height: 590px;
   margin:0 auto;
}
.intro.inner{
       display: table-cell;
	   vertical-align: middle;
	   min-width: 100%;
	  
}
.content{
    max-width: 50%;
	margin: 0 auto;
	text-align: center;
}
.content h1{
    font-family: 'Pacifico', cursive;
	color: #DC143C;
	font-size: 110px;
	margin:0 auto;
	line-height:170px;
}
.button{
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #037A81;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #036A81 3px;
	text-transform: uppercase;
	text-decoration: none;

	
}
.button:hover{
	color: #fff;
	border: solid #fff 3px;
}
#search{
	position:relative;
	width:30%;
	margin-top:-585px;
	right:60px;
	float: right;
}
#search button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}
#search button:hover {
background:#FFB6C1;
}
#bar {
  border:1px solid #000000;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  width: 70%;
  position:relative;
}

#insta{
	height:50px;
	width:50px;
	float:right;
	position:relative;
	margin-right:-25px;
	margin-top:-600px;
	background-color:#b2d4ea;
	border-radius:50px;

}
  
/* home page */
.body {
   background-image: url("wedding1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   width: 100%;
   max-height: 600px;
   margin: 0 auto;
 }
#logo{
	width:100%;
	height:250px;
	opacity: 0.6;
}
.container1 {
   max-width:80%;
   min-height:100%;
   border: 0;
   margin: 0 auto;

}

.header{
	padding: 20px;
    height: 100%;
	clear:both;
	float:left;
	text-align: center;
	position:relative;
	z-index:2;
	width:100%;

	
}
.navi ul{
	margin:0 auto;
	padding:0;
	list-style-type:none;
}
.navi ul li{
  float: left; 
  height: 50px;
   width:16.6%;
  background: #ADD8E6; 
   opacity: 0.8;
  text-align: center; 
  line-height:100px;
   border-right: 1px solid #000000;
   font-size: 15px;
}
.navi ul li a{
	text-decoration: none;
    color:#000000;
	font-weight:bold;
	line-height:50px;
	display:block;

}
.navi ul li a:hover{
    background-color: #f39d1a;
	border-radius:10px;
	transition: all 0.4s;
}
.navi ul li ul li{
    
	display:none;
}
.navi ul li:hover ul li{
	z-index:2;
	width:100%;
	clear:both;
	display:block;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
}

.soon{
	border:0px;
}

.current{
	background-color: #f39d1a;
	border-radius:10px;
}
.boxbox{
	height:200%;
}
.information {

   width:70%;
   background-color: #FFB6C1;opacity:0.8;
   float: right;
   padding: 20px;
   z-index:1;
}
.learn{
	color:#f44242;
}
.photo{

	width:100%;
	height:30%;
}
.companyinfo{
	font-family:'Lobster', cursive;
	font-weight:bold;
}
#info{
	font-family: 'Arima Madurai', cursive;
}
#info:first-letter{
   font-size: 45px;
   font-weight: bold;
   line-height:1;
   margin-right:-2px;
   margin-top: -14px;
   float: left;
   width: 1em;
   color: red;
}
#sidebar {
   background-color:#FFB6C1;opacity:0.8;
   border-right: 5px solid #000000;
   color:#ffffff;
   width:30%;
   float:left;
   padding: 20px;
   font-size: 16px;
   height:500px;

}
#sidebar ul li a{
	 text-decoration:none;
	 color:#000000;
	 font-family:arial;
}
#sidebar ul li a:hover{
	color:#70cdef;
}
#link{
	color: #000000;
	font-family:'Lobster', cursive;
	font-weight:bold;
}
div.photogallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
	height:50%;
    width: 50%;
	display:inline;
	display:relative;
	margin-left: 150px;
}
div.photogallery :hover {
    border: 1px solid #777;
}
div.photogallery img {
    width: 100%;
    height: 50%;
}
div.photobox {
    padding: 15px;
    text-align: center;
}
#sm {
   clear:both;
   background-color:#FFB6C1;opacity:0.8;
   border-top:5px solid #000000;
   height:200px;
   
}
 .media{
	 text-align:center;
	

    }
#mediaicon{
       width:80px;
	   height:80px;
	   display:inline;
	   padding:20px;
	   text-decoration:none;
}  
#socialmedia{
	text-align:center;
	font-size:25px;
	text-decoration: underline;
}
.copyright{
	text-align:center;
}
#myBtn{
	display:none;
	background:#000;
	color:#fff;
	width:45px;
	height:45px;
	font-size:30px;
	text-align:center;
	border-radius:50%;
    position:fixed;
	right: 20px;
	bottom: 20px;
	cursor:pointer;
}

#myBtn:hover{
   color: #000;
   background:#d7d7d7;
}
/* about us page */
.bodysection {
   background-image: url("back.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: right top;
   background-attachment: fixed;
   width: 100%;
   height: auto;
   margin: 0 auto;
}
.container {
   width:90%;
   border: 0;
   margin: 0 auto;
}
#logo1{
	height:250px;
	width:100%;
}
#wedding{
	width:90%;
	margin:0 auto;
}
header{
	background-image: url("bride.jpg");
    background-size: cover;
	padding: 20px;
    height: 100%;
	margin-top:0;
	width:100%;
	clear:both;
	float:left;
	margin: 0 auto;
}
.nav ul li ul li{
	display:none;
}
.nav ul li:hover ul li{
	z-index:2;
	width:100%;
	clear:both;
	display:block;
	border-left:1px solid #000000;
	border-bottom:1px solid #000000;
}


#toggle1{
	display:none;
}
.nav ul{
	margin:0 auto;
	padding:0;
	list-style-type:none;
}
.nav li{
  float: left; 
  height: 50px;
   width:14%;
  background: #ADD8E6; 
   opacity: 0.8;
  text-align: center; 
  line-height:100px;


    border-right: 1px solid #000000;
   font-size: 18px;
}

.nav ul li a{
  	text-decoration: none;
    color:#000000;
	font-weight:bold;
	line-height:50px;
	display:block;


}
.nav li:hover{
    background-color: #f39d1a;
	border-radius:10px;
	transition: all 0.4s;
}

#textsearch{
    width:16%;
	background-image:url(icon.png);
	background-repeat:no-repeat;
	background-size:40px 45px;
	padding:12px 20px 14px  42px;
	border-radius: 10px;
	border-color:#42e8f4;

}
#textsearch:focus{
	border-color: #ff8080;

}
#textid{
	background-image:url(icon.png);
	background-repeat:no-repeat;
	background-size:40px 45px;
	padding:12px 20px 14px  42px;
	border-radius: 5px;
	border-color:#42e8f4;
	display:none;

}
#textid:focus{
	width:300px;	

}
#feedback{
	line-height:40px;
	height:50px;
	width:320px;
	border:2px dotted #30c3dd;
	padding:10px;
    text-decoration:none;
	color:#434547;
	text-align:center;
}
#feedback:hover{
	color:#87c3ff;
}
.article {
   min-height: 100%;
   width:70%;
   float: right;
   padding: 20px;

}

.info{
	font-size:38px;
	font-family:'Lobster', cursive;
	font-weight:bold;
}
#img{
	width:60%;
	height:300px;
	margin-top: 30px;
    margin-left:155px;
	border: 10px solid transparent;
	border-image-source:url(border.png);
	border-image-slice: 5;
	border-image-repeat: stretch;

}
#aim {
   border-right: 5px solid #000000;
   color:#000000;
   width:30%;

   display:block;
   float: left;
   padding: 20px;
   font-size: 16px;

}
#heading{
	font-size:38px;
	font-family:'Lobster', cursive;
	font-weight:bold;
}
#cartoon{
	text-align:center;
	width:90px;
	height:90px;
}



/* feedback page */

#article{
	position:relative;
	margin-left:30%;
}
#form{
	font-family:Comic Sans MS;
	font-size: 40px;
	position:relative;
    margin-bottom: 5%;
	margin-left: 10%;
}
#holder, .subject,.number {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

.subject{
	height:200px;
	resize: none;
}
#sub{
	font-size:12px;
	padding:12px 20px; 
	background-color: #4CAF50;
	color: white;
	border-radius: 6px; 
	cursor: pointer;
	float:right;
	margin:0 auto;
	position:absolute;
	margin-left:80%;
}

#sub:hover {
    background-color: #45a049;
}
input:focus,textarea:focus,#number:focus,select:focus{
    background-color:#d1f7fc;	

}
/* staff page */
.our-team{
	font-size:30px;
	font-family:arial;
	color:#0e326d;
	text-align:center;
	text-shadow: 0 0 15px rgba(0,0,0,0.4);
	margin-top:100px;
}
.our-team p{
	font-size:20px;
	font-family:Forte;
	text-shadow:none;
}
.card1{
 clear:both;
 float:left;
 margin-top:15px;
 margin-right:4px;
margin-bottom:30px;

}
.card2{
 clear:both;
 display:inline-block;
 margin-top:15px;
 margin-left:5px;


}

.holder{
	width:275px;
	box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.holder1{
	width:100%;
	height:80px;
	background:#E63946;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
}
.holder2{
	width:100%;
	height:250px;
	background:#edeaea;
	position:relative;
	text-align:center;
}
.holder2 img{
	width:100px;
	height:100px;
	position:absolute;
	border-radius:50%;
	top:-50px;
	left:90px;
	border: 3px solid #fff;
	
	
}
.tiltle{
	padding-top: 60px;
	color:#E63946;
	font-weight:900;
}
.position{
	color:#E63946;
	font-size:12px;
}
.holder2 p{
	padding:12px 20px 0;
	font-size:14px;
	color:#14151E;
}
.holder3{
	width:100%;
	height:50px;
	border-bottom-left-radius:3px;
	border-bottom-left-radius:5px;
	background:#edeaea;
	border-top:1px solid #E63946;
}
.holder3 .share{
	width:25%;
	height:50px;
	text-align:center;
	float:left;
	cursor:pointer;
	line-height:40px;
}
.holder3 .share .fa{
	text-decoration:none;
	color:#E63946;
	font-size:24px;
	line-height:50px;
}
.holder3 .share:nth-child(1){
	border-right:1px solid #E63946;
	
}
.holder3 .share:nth-child(2){
	border-right:1px solid #E63946;
	
}
.holder3 .share:nth-child(3){
	border-right:1px solid #E63946;
	
}
.share .fa:hover{
	color:#0e326d;
}
 /* staff page*/ 
our-team h1{
    display:block;
}
card1{
    width:100%;
}
/* photo gallary page */
#slide{
	width:90%;
}
#col1{
    display:inline;
}
img {
  vertical-align: middle;
}
#words{
	text-align:center;
	font-family: 'Arima Madurai', cursive;
	word-spacing: 3px;
	font-size: 50px;
    margin:0 auto;
	padding:20px;

	text-shadow: 0 0 3px #FF0000;
}

.picbox{
	position: relative; 
    width: 85%;
	position: relative;
	margin-left:13%;
}
.mySlides {
  display: none;

}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #000000;
  opacity:0.8;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: #ffffff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#pic{
   width:100%;
   height: 600px;
}

.column {
  float: left;
  width: 7.13%;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.demo-cursor{
	width:100%;
}
#socialmed {
   clear: both;
   margin: 0 auto;

}
/* offers page */
.package{
	text-align:center;
	font-size:50px;
	font-family: 'Arima Madurai', cursive;
	text-shadow: 0 0 3px #FF0000;
}
#offer{
	width:100%;
	max-height: 500px;
	margin: 70px auto 0;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	max-height:1800px;
	position:relative;
}
#box{
	position:relative;
	width: 496px;
	height:200px;
	margin:10px;
	margin-left:70px;
	box-sizing: border-box;
	display:inline-box;
	margin-bottom:80px;

}
#imgbox{
	position:relative;
	overflow: hidden;
}
#imgbox img{
	max-width: 100%;
	max-height:200px;
	transition:transform 2s;
}
#box:hover #imgbox img{
	transform: scale(1.2);
}
#details{
	position:absolute;
	top: 10px;
	 left:10px;
	 bottom:10px;
	 right:10px;
	 background: #ADD8E6; opacity:0.8;
	 transform: scaleY(0);
	 transition: transform 0.5s;
	 
}
#box:hover #details{
	transform: scaleY(1);
}
#con{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align:center;
	padding:15px;
	color:#fff;
}
#con h2{
	margin:0;
	padding:0;
	font-size:20px;
	color:#2b3263;
}
#p{
	margin:10px 0 0;
	padding:0;
	font-size:20px;
	color:#2b3263;
}

#so-m {
   width:100%;
   clear: both;
   margin: 0 auto;
   border-top:5px solid #000000;
}
/* contact us page */

#col4{
 
   min-height: 500px;
   width:50%;
   text-align:left;
   float: right;
   padding-left: 60px;
   font-weight:bold;
   font-family:Palatino Linotype;
   line-height:40px; 
   border-left:5px solid black;
   }
.address{
   text-align:left;
   color:#111111;
   width:50%;
   height:100%;
   float: left;
   padding-left: 70px;
   font-size: 20px;
   padding-right:170px;
   font-family:Arial;
   line-height:30px;
}
.address h1{
	font-size:32px;
}
.col6{
	display: inline;
	margin-bottom:20px;
}
.col5{
	font-size:20px;
	font-family: 'Noto Serif', serif;
}
.map{
	width:130%;
    height:300px;
}
figcaption{
	width:100%;
	position:relative;
	top:-50px;
	left:50px;
	text-align:center;
	color:#5da8f4;
	background:#434444;opacity:0.6;
}
#subject1{
	height:150px;
	width:80%;
	resize: none;
	
}
#name{
	width:200px;
	height:30px;
}
#email{
	width:200px;
	height:30px;
}
#handphone{
	width:200px;
	height:30px;
}
#sbmit{
    margin-left:80%;
    padding:0;
	width:70px;
	height:40px;
}
#sbmit:hover{
	color:#4286f4;
	border: 1px solid #4286f4;
}
#s-m {
   clear: both;
   margin: 0 auto;
   border-top:5px solid #000000;
}

/* Coming Soon page */
.comingsoon{
	text-align:center;
	font-size:100px;
	font-family:elephant;
	color:#5481c9;
}
/* media screen*/  
